@inject IAuthService authService
@inject NavigationManager navMgr
@page "/"
@using BlazorUI.Authentication
@using Application.Repositories
@using Entities.Models
@inject IPostRepo postRepo
<div>
    <NavBar/>
</div>


<div>
    @foreach (Post post in posts)
    {
        <PostCard Post=post/>
    }
</div>

@code{
    public ICollection<Post> posts;
    byte[] documentContent;

    protected override async Task OnInitializedAsync()
    {
        posts = await postRepo.GetAllPostsAsync();
        await base.OnInitializedAsync();
    }



}