@page "/"



<PageTitle>Index</PageTitle>

<div class=" top_div">
    <img src="img/reddit_logo.png" alt="reddit logo">
    <div id="buttonsDiv">
      <a href="/Login">  <button class="button  whiteButton">Log In</button></a> 
       <a href="/Signup"><button class="button  blueButton">Sign Up</button></a>
    </div>
</div>

@code{

}