@page "/"

<PageTitle>Index</PageTitle>

<div class=" top_div">
    <img src="img/reddit_logo.png" alt="reddit logo">
    <div id="buttonsDiv">
        <button class="button  whiteButton">Log In</button>
        <button class="button  blueButton">Sign Up</button>
    </div>
</div>